.contact h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 10rem;
}
.contact p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #808080;
}

.contact__tagContainer {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.contact__tags {
  color: gray;
  font-size: 3rem;
  font-weight: 500;
  stroke: none;
  text-decoration: none;
  cursor: pointer;
}
.contact__icons {
  display: flex;
  justify-content: space-between;
}

.contact__icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (max-width: 960px) {
  .contact h1 {
    font-size: 4rem;
    margin-top: 5rem;
  }
  .contact p {
    font-size: 1.7rem;
  }
  .contact__tags {
    font-size: 2rem;
  }
}

@media (max-width: 540px) {
  .contact h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .contact p {
    font-size: 1rem;
    margin-top: 0.7rem;
  }
  .contact__tags {
    font-size: 1.7rem;
  }
  .contact__tagContainer {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}
